{# Card #}
<section class="max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 py-20">
  <div class="border-2 border-purple-900 bg-white text-purple-900 py-10 px-12 lg:-skew-x-6 {% if bg == "purple" %}bg-purple-200{% endif %}">
    <div class="lg:skew-x-6 flex flex-col lg:flex-row">

      <div class="flex-none my-auto text-center mx-auto">
        <img class="max-w-sm lg:mr-4" src="{{ componentImage }}">
      </div>

      <div class="flex-1">
        <h1 class="text-2xl font-bold">{{ componentTitle }}</h1>
        <p class="pt-6 pb-4">{{ componentText }}</p>

        <div class="flex flex-col md:flex-row">
          <a href="{{ componentBtnLink1 }}">
            <button class="btn-outline-purple">Learn more</button>
          </a>

          <a class="ml-2" href="{{ componentBtnLink2 }}">
            <button class="btn-purple">Learn even more</button>
          </a>
        </div>
      </div>

    </div>
  </div>
</section>
