{# Paragraph + image #}
<section class="max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 py-20 article flex flex-col lg:flex-row">

  {% if orientation == "inverted" %}
  <div class="flex text-center mx-auto my-auto">
    <img class="max-w-sm lg:mr-6 border-2 border-white" src="{{ componentImage }}">
  </div>

  <div class="flex-1 lg:ml-6">
    <h1>{{ componentTitle }}</h1>
    <p class="pt-6 pb-4">{{ componentText }}</p>

    <div class="flex flex-col md:flex-row">
      <a href="{{ componentBtnLink1 }}">
        <button class="btn-tag-toggle">Learn more</button>
      </a>

      <a class="ml-2" href="{{ componentBtnLink2 }}">
        <button class="btn-white">Learn even more</button>
      </a>
    </div>
  </div>

  {% else %}

  <div class="flex-1">
    <h1>{{ componentTitle }}</h1>
    <p class="pt-6 pb-4">{{ componentText }}</p>

    <div class="flex flex-col md:flex-row">
      <a href="{{ componentBtnLink1 }}">
        <button class="btn-tag-toggle">Learn more</button>
      </a>

      <a class="ml-2" href="{{ componentBtnLink2 }}">
        <button class="btn-white">Learn even more</button>
      </a>
    </div>
  </div>

  <div class="flex text-center mx-auto my-auto">
    <img class="max-w-sm lg:ml-6 border-2 border-white" src="{{ componentImage }}">
  </div>
  {% endif %}
</section>
