{% extends "base.njk" %}

{% block body %}
<!-- Hero header -->
<section class="pt-12 md:pt-16 lg:pt-20">
  <div class="max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 xl:max-w-6xl 2xl:max-w-7xl">
    <h1 class="mb-4 text-5xl md:text-6xl font-light uppercase">Connect</h1>
  </div>
</section>
<!-- /Hero header -->

<!-- Features -->
<section class="py-24 pt-12 overflow-hidden md:py-32 md:pt-16 lg:py-40 lg:pt-20">
  <div class="max-w-md mx-auto px-5 md:max-w-2xl lg:max-w-4xl lg:px-8 xl:max-w-6xl 2xl:max-w-7xl">
    <h2 class="sr-only">Nexa Social Media</h2>
    <div class="flex flex-wrap -mx-24 sm:-mx-0">
      <a target="_blank" class="flex block w-full mb-12 pl-19 sm:pl-0 lg:w-1/2 lg:pr-6 filter-mega-parent offset-mega-parent" href="https://discord.gg/2yQNsZV6EJ">
        <div class="h-48 p-6 pr-20 border border-white border-r-0 border-l-0 sm:border-l">
          <div class="mb-4 text-2xl leading-7 font-medium">Discord</div>
          <p class="text-base">Dive into our active discord community.</p>
        </div>
        <div class="flex w-40 min-w-40 h-48 -ml-12 mr-8 border border-white -skew-20 sm:mr-0 xl:w-48 xl:min-w-48 2xl:w-52 2xl:min-w-52">
          <div class="flex w-full h-full -mt-4 -ml-4 bg-white bg-opacity-25 overflow-hidden duration-300 offset-mega">
            <div class="w-60 min-w-60 h-full -ml-10 bg-cover opacity-80 skew-20 xl:w-68 xl:min-w-68 2xl:w-80 2xl:min-w-80 filter-mega" style="background-image: url('/static/img/discord-social.jpg');"></div>
          </div>
        </div>
      </a>
      <a target="_blank" class="flex block w-full mb-12 pr-19 text-right sm:pr-0 lg:w-1/2 lg:pl-6 filter-mega-parent offset-mega-parent" href="https://matrix.to/#/#nexa-space:matrix.org">
        <div class="flex w-40 min-w-40 h-48 -mr-12 ml-8 border border-white -skew-20 sm:ml-0 xl:w-48 xl:min-w-48 2xl:w-52 2xl:min-w-52">
          <div class="flex w-full h-full -mt-4 -ml-4 bg-white bg-opacity-25 overflow-hidden duration-300 offset-mega">
            <div class="w-60 min-w-60 h-full -ml-10 bg-cover opacity-80 skew-20 xl:w-68 xl:min-w-68 2xl:w-80 2xl:min-w-80 filter-mega" style="background-image: url('/static/img/matrix-social.jpg');"></div>
          </div>
        </div>
        <div class="h-48 p-6 pl-20 border border-white border-r-0 border-l-0 sm:border-r">
          <div class="mb-4 text-2xl leading-7 font-medium">Matrix</div>
          <p class="text-base">Prefer a decentralised chat? We've got you covered.</p>
        </div>
      </a>
      <a target="_blank" class="flex block w-full mb-12 pl-19 sm:pl-0 lg:w-1/2 lg:pr-6 filter-mega-parent offset-mega-parent" href="https://t.me/nexacoin">
        <div class="h-48 p-6 pr-20 border border-white border-r-0 border-l-0 sm:border-l">
          <div class="mb-4 text-2xl leading-7 font-medium">Telegram</div>
          <p class="text-base">Join our super talented community on Telegram to chat all things Nexa.</p>
        </div>
        <div class="flex w-40 min-w-40 h-48 -ml-12 mr-8 border border-white -skew-20 sm:mr-0 xl:w-48 xl:min-w-48 2xl:w-52 2xl:min-w-52">
          <div class="flex w-full h-full -mt-4 -ml-4 bg-white bg-opacity-25 overflow-hidden duration-300 offset-mega">
            <div class="w-60 min-w-60 h-full -ml-10 bg-cover opacity-80 skew-20 xl:w-68 xl:min-w-68 2xl:w-80 2xl:min-w-80 filter-mega" style="background-image: url('/static/img/telegram-social.jpg');"></div>
          </div>
        </div>
      </a>
      <a target="_blank" class="flex block w-full mb-12 pr-19 text-right sm:pr-0 lg:w-1/2 lg:pl-6 filter-mega-parent offset-mega-parent" href="https://twitter.com/nexamoney">
        <div class="flex w-40 min-w-40 h-48 -mr-12 ml-8 border border-white -skew-20 sm:ml-0 xl:w-48 xl:min-w-48 2xl:w-52 2xl:min-w-52">
          <div class="flex w-full h-full -mt-4 -ml-4 bg-white bg-opacity-25 overflow-hidden duration-300 offset-mega">
            <div class="w-60 min-w-60 h-full -ml-10 bg-cover opacity-80 skew-20 xl:w-68 xl:min-w-68 2xl:w-80 2xl:min-w-80 filter-mega" style="background-image: url('/static/img/twitter-social.jpg');"></div>
          </div>
        </div>
        <div class="h-48 p-6 pl-20 border border-white border-r-0 border-l-0 sm:border-r">
          <div class="mb-4 text-2xl leading-7 font-medium">Twitter</div>
          <p class="text-base">Want to get updates on the latest Nexa news then make sure to follow us on Twitter.</p>
        </div>
      </a>
      <a target="_blank" class="flex block w-full mb-12 pl-19 sm:pl-0 lg:w-1/2 lg:pr-6 filter-mega-parent offset-mega-parent" href="https://www.reddit.com/r/Nexa/">
        <div class="h-48 p-6 pr-20 border border-white border-r-0 border-l-0 sm:border-l">
          <div class="mb-4 text-2xl leading-7 font-medium">Reddit</div>
          <p class="text-base">Prefer the the slower pace and community meme culture, then come join us on our subreddit.</p>
        </div>
        <div class="flex w-40 min-w-40 h-48 -ml-12 mr-8 border border-white -skew-20 sm:mr-0 xl:w-48 xl:min-w-48 2xl:w-52 2xl:min-w-52">
          <div class="flex w-full h-full -mt-4 -ml-4 bg-white bg-opacity-25 overflow-hidden duration-300 offset-mega">
            <div class="w-60 min-w-60 h-full -ml-10 bg-cover opacity-80 skew-20 xl:w-68 xl:min-w-68 2xl:w-80 2xl:min-w-80 filter-mega" style="background-image: url('/static/img/reddit-social.jpg');"></div>
          </div>
        </div>
      </a>
      <a target="_blank" class="flex block w-full mb-12 pr-19 text-right sm:pr-0 lg:w-1/2 lg:pl-6 filter-mega-parent offset-mega-parent" href="https://www.linkedin.com/company/bitcoinunlimited/">
        <div class="flex w-40 min-w-40 h-48 -mr-12 ml-8 border border-white -skew-20 sm:ml-0 xl:w-48 xl:min-w-48 2xl:w-52 2xl:min-w-52">
          <div class="flex w-full h-full -mt-4 -ml-4 bg-white bg-opacity-25 overflow-hidden duration-300 offset-mega">
            <div class="w-60 min-w-60 h-full -ml-10 bg-cover opacity-80 skew-20 xl:w-68 xl:min-w-68 2xl:w-80 2xl:min-w-80 filter-mega" style="background-image: url('/static/img/linkedin-social.jpg');"></div>
          </div>
        </div>
        <div class="h-48 p-6 pl-20 border border-white border-r-0 border-l-0 sm:border-r">
          <div class="mb-4 text-2xl leading-7 font-medium">LinkedIn</div>
          <p class="text-base">Want to learn more about what is going on in the professional world with Nexa. Follow us on LinkedIn.</p>
        </div>
      </a>
      <a target="_blank" class="flex block w-full mb-12 pl-19 sm:pl-0 lg:w-1/2 lg:pr-6 filter-mega-parent offset-mega-parent" href="https://www.youtube.com/channel/UCH03nTnxs3TLmbSHtm54B1g">
        <div class="h-48 p-6 pr-20 border border-white border-r-0 border-l-0 sm:border-l">
          <div class="mb-4 text-2xl leading-7 font-medium">Youtube</div>
          <p class="text-base">Want to see the latest Nexa video? Go check out our Youtube channel.</p>
        </div>
        <div class="flex w-40 min-w-40 h-48 -ml-12 mr-8 border border-white -skew-20 sm:mr-0 xl:w-48 xl:min-w-48 2xl:w-52 2xl:min-w-52">
          <div class="flex w-full h-full -mt-4 -ml-4 bg-white bg-opacity-25 overflow-hidden duration-300 offset-mega">
            <div class="w-60 min-w-60 h-full -ml-10 bg-cover opacity-80 skew-20 xl:w-68 xl:min-w-68 2xl:w-80 2xl:min-w-80 filter-mega" style="background-image: url('/static/img/youtube-social.jpg');"></div>
          </div>
        </div>
      </a>
      <a target="_blank" class="flex block w-full mb-12 pr-19 text-right sm:pr-0 lg:w-1/2 lg:pl-6 filter-mega-parent offset-mega-parent" href="https://www.instagram.com/nexacoin/">
        <div class="flex w-40 min-w-40 h-48 -mr-12 ml-8 border border-white -skew-20 sm:ml-0 xl:w-48 xl:min-w-48 2xl:w-52 2xl:min-w-52">
          <div class="flex w-full h-full -mt-4 -ml-4 bg-white bg-opacity-25 overflow-hidden duration-300 offset-mega">
            <div class="w-60 min-w-60 h-full -ml-10 bg-cover opacity-80 skew-20 xl:w-68 xl:min-w-68 2xl:w-80 2xl:min-w-80 filter-mega" style="background-image: url('/static/img/instagram-social.jpg');"></div>
          </div>
        </div>
        <div class="h-48 p-6 pl-20 border border-white border-r-0 border-l-0 sm:border-r">
          <div class="mb-4 text-2xl leading-7 font-medium">Instagram</div>
          <p class="text-base">Check out our latest visual content on Instagram.</p>
        </div>
      </a>
    </div>
  </div>
</section>
<!-- /Features -->
{% endblock %}
